<ion-header>
    <img src="assets/img/perfil/btn_logout.png" class="btn-logout" (click)="logOut()">
    <img src="assets/img/perfil/icon_arrow.png" class="icon-arrow" routerLink="/principal">
</ion-header>

<ion-content>
    <div id="container">
        <ion-img class="bg_1" src="assets/img/login/bg_1.png" alt="Fondo."></ion-img>
    </div>
    <h2 class="texto-central">NOMBRE DE USUARIO</h2>
    <img src="assets/img/perfil/usuario_grande_plus.png" class="usuario-grande-plus" alt="Círculo del usuario.">
    <img src="assets/img/perfil/separador_privacidad.png" class="separador-privacidad" alt="Separador de privacidad.">
    <img src="assets/img/perfil/btn_cambiar_nombre_usuario.png" class="btn-cambiar-nombre-usuario"
        alt="Botón para cambiar el nombre de usuario.">
    <img src="assets/img/perfil/btn_cambiar_contraseña.png" class="btn-cambiar-contraseña"
        alt="Botón para cambiar la contraseña.">
    <img src="assets/img/perfil/separador_personalización.png" class="separador-personalización"
        alt="Separador de personalización.">
    <img src="assets/img/perfil/Activar_modo_oscuro.png" class="activar-modo-oscuro"
        alt="Botón para activar el modo oscuro.">
    <img src="assets/img/perfil/circulito.png" class="circulito" alt="Circulito">
    <img src="assets/img/perfil/Idioma_de_la_aplicación.png" class="idioma-de-la-aplicación"
        alt="Botón para cambiar el idioma de la aplicación.">
    <img src="assets/img/perfil/bandera_española_pequeña.png" class="bandera-española" alt="Bandera de España.">
    <img src="assets/img/perfil/Notificaciones.png" class="notificaciones"
        alt="Botón para gestionar las notificaciones.">
    <img src="assets/img/perfil/Vector.png" class="Vector" alt="Vector de un móvil con sonido.">
    <img src="assets/img/perfil/Cambiar_pieza_de_música.png" class="cambiar-pieza-de-música"
        alt="Botón para cambiar la pieza de música.">
    <img src="assets/img/perfil/btn_playlist.png" class="btn-playlist" alt="Playlist">
    <img src="assets/img/perfil/separador_acerca_de.png" class="separador-acerca_de" alt="Separador de acerca de">
    <img src="assets/img/perfil/btn_contacto.png" class="btn_contacto" alt="Botón contacto">
    <img src="assets/img/perfil/linea111.png" class="ln111" alt="Separador">

</ion-content>