<ion-header>

</ion-header>

<ion-content>
  <div id="container">
    <ion-img class="logo_pequeño" src="assets/img/principal/logo_pequeño.png"
      alt="Logo pequeño en principal."></ion-img>
    <ion-img class="logo_login" src="assets/img/login/logo_login.png" alt="Logo en login."></ion-img>
    <ion-img class="icon_perfil" src="assets/img/principal/icon_perfil.png" alt="Icono de perfil."
      routerLink="/perfil"></ion-img>
    <ion-img class="encabezado" src="assets/img/principal/apaño.png" alt="Encabezado en principal."
      (click)="option2()"></ion-img>
    <ion-img class="bg_1" src="assets/img/login/bg_1.png" alt="Fondo en principal."></ion-img>
    <!-- Mostrar los directores -->
    <app-index class="indexito"></app-index>
  </div>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button color="transparent" routerLink="/principal">Primera página</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>