.create-event {
    position: absolute;
    top: -45px;
    left: 235px;
    color: white;
}
  

ion-col {
    text-align: center;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #4395a2a8;
  }
  