<ion-header>

</ion-header>

<ion-content>
  <app-menu id="principal"></app-menu>
  <ion-router-outlet></ion-router-outlet>
  <div id="container">
    <ion-img class="logo_pequeño" src="assets/img/principal/logo_pequeño.png"
      alt="Logo pequeño en principal."></ion-img>
      <ion-img class="logo_login" src="assets/img/login/logo_login.png" alt="Logo en login."></ion-img>
    <ion-img class="icon_perfil" src="assets/img/principal/icon_perfil.png" alt="Icono de perfil."
      routerLink="/perfil"></ion-img>
    <ion-img class="encabezado" src="assets/img/principal/apaño.png" alt="Encabezado en principal."
      (click)="option()"></ion-img>
    <ion-img class="bg_1" src="assets/img/login/bg_1.png" alt="Fondo en principal."></ion-img>

    <!-- Mostrar los eventos -->
    <app-index class="indexito"></app-index>
    
    <!-- <ion-tabs>
      <ion-tab-bar class="invisible-background" slot="bottom">
        <ion-tab-button class="invisible-background" tab="create">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Crear</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
  
  </div>

</ion-content>

