<ion-header>

</ion-header>

<ion-content>
  <app-menu id="principal"></app-menu>
  <ion-router-outlet></ion-router-outlet>
  <div id="container">
    <ion-img class="logo_pequeño" src="assets/img/principal/logo_pequeño.png"
      alt="Logo pequeño en principal."></ion-img>
    <ion-img class="icon_perfil" src="assets/img/principal/icon_perfil.png" alt="Icono de perfil."
      routerLink="/perfil"></ion-img>
    <ion-img class="encabezado" src="assets/img/principal/encabezado.png" alt="Encabezado en principal."
      (click)="option()"></ion-img>
    <ion-img class="bg_1" src="assets/img/login/bg_1.png" alt="Fondo en principal."></ion-img>

    <!-- Mostrar los eventos -->
    <app-index class="indexito"></app-index>
  </div>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/perfil">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/contacto">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

