<section>

    <div class="d-flex justify-content-between">
        <h4>Lista de eventos</h4>
        <a routerLink="/event/create" class="btn btn-success">Crear nuevo evento</a>
    </div>

    <br>

    <table class="table ">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Imagen</th>
                <th>Director_id</th>
                <th width="220px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{ event.id }}</td>
                <td>{{ event.nombre }}</td>
                <td>{{ event.tipo }}</td>
                <td>{{ event.lugar }}</td>
                <td>{{ event.fecha }}</td>
                <td>{{ event.horario }}</td>
                <td>{{ event.imagen }}</td>
                <td>{{ event.director_id }}</td>
                <td>
                    <a [routerLink]="['/event/', 'edit', event.id  ]" class="btn btn-primary">Editar</a>
                    <button type="button" (click)="deleteEvent(event.id)" class="btn btn-danger">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>