body {
    background-color: #c5d8d8;
}

.bg_1 {
    background-size: cover;
    width: 100%;
    object-fit: fill;
    background-color: #098181;

}




.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tick-image {
    width: 50px;
    margin-top: 30px;
}

h1 {
    margin-top: 200px;
    text-align: center;
}