<ion-menu side="start" contentId="principal">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menú</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <div style="display: flex; align-items: center;">
            <ion-title routerLink="/perfil">Perfil</ion-title>
        </div>
        <div style="display: flex; align-items: center;">
            <ion-title routerLink="/contacto">Contacto</ion-title>
        </div>
                <div style="display: flex; align-items: center;">
            <ion-title routerLink="/contacto">Contacto</ion-title>
        </div>
        <div style="display: flex; align-items: center;">
            <ion-title (click)="logOut()">Cerrar sesión</ion-title>
        </div>
    </ion-content>
  </ion-menu>
  