<ion-header>
  <img src="assets/img/perfil/btn_logout.png" class="btn-logout" routerLink="/login">
  <img src="assets/img/contacto/icon_arrow_contact.png" class="icon-arrow-contact" alt="Icono contacto."
    routerLink="/perfil">
</ion-header>

<ion-content>
  <div id="container">
    <ion-img class="bg_1" src="assets/img/login/bg_1.png" alt="Fondo."></ion-img>
  </div>
  <h2 class="texto-central">CONTACTO</h2>
  <img src="assets/img/perfil/usuario_grande_plus.png" class="usuario-grande-plus" alt="Círculo del usuario.">
  <img src="assets/img/perfil/linea111.png" class="ln111" alt="Separador">
  <input type="text" class="input1" placeholder="Asunto.">
  <textarea placeholder="Cuerpo del mensaje." wrap="hard"></textarea>
  <img src="assets/img/perfil/linea111.png" class="ln112" alt="Separador">
  <ion-button class="enviar">Enviar</ion-button>
</ion-content>